.Body {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
}

.EasterEgg {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.Content {
}

.Header {
  grid-area: header;
}
.Content {
  grid-area: main;
}

.Body.active {
  overflow: hidden;
  position: fixed;
}

.App-cloud {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  opacity: 0.5;
  display: none;
}

.App-controls {
    display: inline;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 10;
}

.App-controls li{
    display: inline;
}

.App-projects {
    position: relative;
    padding: 0px;
    right: 150px;
    font-size: 1em;
    font-family: 'whitney_book';
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    cursor: pointer;
    top: 25px;
}

.App-projects span {
    
}

.App-projects:hover svg{
    visibility: visible;
}

.App-projects.inactive {
  cursor: default;
}

.App-projects img {
  width: 25px;
}

.App-projects svg {
    display: inline;
    visibility: hidden;
    padding-right: 10px;
    width: 15px;
}

.Language {
    position: absolute;
    right: 80px;
    top: 25px;
    width: 50px;
}

.Hamburger {
  position: absolute;
  top: -4px;
  right: 3px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}


.App-cloud.active {
  display: initial;
}

@media screen and (min-width: 600px) {
  .Body.active {
    overflow: scroll;
    position: relative;
  }
}

@media screen and (min-width: 1000px) {
  
}



.guide {
  width: calc(100% - 50px) !important;
  height: calc(100% - 50px) !important;
  position: fixed;
  left: 25px;
  top: 25px;
  background-color: black;
  border: red;
  opacity: .8;
  z-index: 100;
  display: none;
}





