.Body {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
}

.EasterEgg {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.Content {
}

.Header {
  grid-area: header;
}
.Content {
  grid-area: main;
}

.Body.active {
  overflow: hidden;
  position: fixed;
}

@media screen and (min-width: 600px) {
  .Body.active {
    overflow: scroll;
    position: relative;
  }
}

@media screen and (min-width: 1000px) {
  
}


.guide {
  width: calc(100% - 50px) !important;
  height: calc(100% - 50px) !important;
  position: fixed;
  left: 25px;
  top: 25px;
  background-color: black;
  border: red;
  opacity: .8;
  z-index: 100;
  display: none;
}





