.leaflet-control-container {
    display: none;
}

.Contact-Map {
    height: 100vw !important;
    width: 100vh !important;
    position: fixed;
}


.leaflet-marker-pane img {
    width: 50px !important;
    height: 50px !important;
}