.Header{
  width:100%;
  margin-top: 30px;
  height: 100px;
  position: fixed;
}
.Header img{
  float:right;
  
  margin-right: 100px;
}

.Header ul{
  list-style-type: none;
  margin-left:5%;
  padding-left:0;
}

.Header .company{
  margin-bottom: 15px;
}

.Header button{
  padding: 0;
  border: none;
  font-size:18px;
  background: none;
  text-transform: uppercase;
  width: 50%;
  height: 50%;
}

.Header .language{
  width:50px;
  height:50px;
  float:right;
  margin-right: 5%;
}

.Header a{
  color: #000;
  text-decoration: none;
}

.Header a:visited{
  text-decoration: none;
}


.Header a:hover{
  text-decoration: underline;
}
.es {
  margin-bottom: 50%;
  float: left;
}
.fr {
    margin-top: 50%;
    float: right;
}

.active {
  text-decoration: underline !important;
}