.Header{
  width:100%;
  margin-top: 0;
  height: 125px;
  position: fixed;
  z-index: 10;

}

.Header img{
  float:right;
  
  margin-right: 100px;
}

.Header ul{
  width:150px;
  list-style-type: none;
  margin-left:25px;
  margin-top:25px;
  padding-left:0;
}

.Header .company{
  margin-bottom: 15px;
}

.Header button{
  padding: 0;
  border: none;
  font-size:18px;
  background: none;
  text-transform: uppercase;
  width: 50%;
  height: 50%;
}

.Header .language{
  width:50px;
  height:50px;
  float:right;
  margin-top: 25px;
  margin-right: 25px;
}


.Header a{
  color: #000;
  text-decoration: none;
}

.Header a:visited{
  text-decoration: none;
}


.Header a:hover{
  text-decoration: underline;
}
.es {
  margin-bottom: 50%;
  float: left;
}
.fr {
  margin-top: 50%;
  float: right;
}

.active {
  text-decoration: underline !important;
}


@media only screen 
and (max-width: 768px)
{
  .Header{
    background-color: white;
  }
  .Header .language{
    margin-top: 25px;
    margin-right: 25px;
  }
}

@media only screen 
and (max-width : 414px)
{ 
  .Header {
    height: 70px;
  }
  .Header li{
    display: inline;
    list-style-type: none;
    padding-right: 10px;
    font-size: 18px;
    font-weight: bold;
    height: 0px;
  }
  .Header .company{
    display: none;
  }
}

