@import url('https://fonts.googleapis.com/css?family=Lekton');

@font-face {
  font-family: 'Whitney';
  src: local('Whitney'), url(./fonts/whitney_bold.ttf) format('tff');
}


body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Whitney', sans-serif !important;
}
