@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

.Info-container {
  margin-left: 175px;
  margin-right: 175px;
}

.Info-text-container {
  margin: 0px;
  width: 30%;
  float: left;
  margin-top: 125px;
}

.Info-image {
  width:650px;
  float:right;
  margin-top: 225px;
}

.Info-text {
  width:200px;
}

.Info-text .title{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.Info-text .header{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.Info-text .paragraph{
  font-size: 14px;
}

.Info-image img {
  width:100%;
}

.Info-nav {
  list-style:none;
  padding:0;
}

.Info-nav li {
  display:inline;
}



.image-gallery-left-nav,
.image-gallery-right-nav {
  font-size: 0em;
  padding: 0;
  height:100%;
  width: 50%;
}
.image-gallery-left-nav:hover {
  cursor: help;
}
.image-gallery-left-nav:hover {
  cursor: url('./images/right.png'), auto;
}


.Info-thumb {
  border: 1px solid;
  width: 25px;
  height: 25px;
  margin: 2px;
}

.highlight {
  border: 0px solid;
  background-color: black;
  color: white;
  width: 25px;
  height: 25px;
  margin: 2px;
}


@media only screen 
and (max-width: 768px)
{ 
  .Info-text-container {
    margin:0;
    width:100%;
    float:left;
  }
  .Info-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .Info-text {
    margin:0;
    width:100%;
    float:right;
  }
  
  .Info-image {
    width:100%;
    float:left;
    margin-top: 70px;
  }
  #Info-shortcut {
    display: none;
  }

  .Info-text-container {
    margin:0;
    width:100%;
    float:left;
  }
  
  .Info-text {
    width:100%;
  }
  .Info-nav button {
    background-color:white;
  }
  .image-gallery-left-nav {
    display:none;
  }
  .image-gallery-right-nav {
    display:none;
  }
}


