@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

.Info-container {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 125px;
}

.Info-text-container {
  margin:0;
  width:30%;
  float:left;
  
}

.Info-image {
  width:60%;
  float:right;
  margin-top: 225px;
}

.Info-text {
  width:250px;
}


.Info-image img {
  width:100%;
}

.Info-nav {
  list-style:none;
  padding:0;
}

.Info-nav li {
  display:inline;
}

.Info-nav button {
  border:none;
  height:25px;
  width: 33%;
  text-transform: uppercase;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  font-size: 0em;

  padding: 0;
  height:100%;
  width: 50%;
}
.image-gallery-left-nav {
  left:0px;
}
.image-gallery-right-nav {
  right:0px;
}
.image-gallery-left-nav:hover{
  cursor: w-resize;
}

.image-gallery-left-nav:hover{
  cursor: e-resize;
}
.image-gallery-left-nav:hover::before,
  .image-gallery-right-nav:hover::before {
    color: black;
  }

button:active {
  border-style: none;
  outline: none;
}

button:focus {
  outline:0;
}


.Info-thumb {
  border: 1px solid;
  width: 25px;
  height: 25px;
  margin: 2px;
}

.highlight {
  border: 0px solid;
  background-color: black;
  color: white;
  width: 25px;
  height: 25px;
  margin: 2px;
}


@media only screen 
and (max-width: 768px)
{ 
  .Info-text {
    margin:0;
    width:100%;
    float:right;
  }
  
  .Info-image {
    width:100%;
    float:left;
  }
  #Info-shortcut {
    display: none;
  }

  .Info-text-container {
    margin:0;
    width:100%;
    float:left;
  }
  
  .Info-text {
    width:100%;
  }

  .Info-nav button {
    background-color:white;
  }
  .image-gallery-left-nav {
    display:none;
  }
  .image-gallery-right-nav {
    display:none;
  }
}


