.Menu {
  position: fixed;
  width: 50vw;
  right: 0;
  top:0;
  bottom:0;
  background: black;
  height:100vh;
  transform:translateX(50vw);
  transition: .5s;
}

.Menu.active {
  transform: translateX(0);
}

.Menu ul {
  text-decoration:none;
}

.Menu-item {
  font-size: 3em;
  font-family: 'whitney_book';
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.Menu-item:hover {
  
  color: black;
  background: white;
}
