.Menu {
  position: fixed;
  padding-top: 100px;
  padding-bottom: 100px;
  right: 0;
  top:0;
  bottom:0;
  background: black;
  transition: .5s;
  width: 100vw;
  transform:translateX(100vw);
  
  display: grid;
  justify-items: center;
  align-items: center;
}

.Menu.active {
  transform: translateX(0);
}

.Menu-item {
  font-size: 3em;
  font-family: 'whitney_book';
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.Menu-item:hover {
  color: black;
  background: white;
}
