.Menu {
  position: fixed;
  right: 0;
  top:0;
  bottom:0;
  background: white;
  transition: .5s;
  width: 100vw;
  transform:translateX(100vw);
  
  display: grid;

  grid-template-columns: 100%;
  grid-template-rows: 1fr 50px;
  grid-template-areas: "aside"
                       "footer";
  z-index: 50;
}

.Menu.active {
  transform: translateX(0);
}

.Menu-item {
  padding:5px;
  font-size: 2em;
  font-family: 'whitney_book';
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.Menu-item.inactive {
  cursor: default;
}

.Menu-item img {
  width: 50px;
}

.Menu-item > .Menu-lines:hover img {
  display: inline; 
}

.Menu button {
  border: none;
  outline: none;
  font-size: 2em;
  font-family: 'whitney_book';
  text-transform: uppercase;
  cursor: pointer;
  background-color: white;
}


.Menu-instagram {
  width: 1em;
}


.Menu-item:hover .Menu-instagram:hover {
  transform: scale(1.01);
}

.Menu button {
  transform: scale(1.01);
}

.Aside {
  padding-left: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  grid-area: "aside";
  display: grid;
  align-items: center;
}


@media screen and (min-width: 600px) {
  .Menu {
    width: 50vw;
    transform:translateX(50vw);
  }
}

@media screen and (min-width: 1000px) {
  .Menu {
    width: 25vw;
    transform:translateX(25vw);
  }
}


