
.Plain-text-container {
  margin-top: 150px;
  margin-left:250px;;
  width:60%;
  height:60%;
  float:left;
  padding-left: 0;
}



@media only screen 
and (max-width: 768px)
{ 
  .Plain-text {
    margin:0;
    width:100%;
    float:right;
  }

  .Plain-text-container {
    margin:0;
    width:100%;
    float:left;
  }
}
