.Portfolio-container {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.Portfolio-text-container {
  margin:0;
  width:30%;
  float:left;
  margin-top: 125px;
}

.Portfolio-text {
  width:250px;
}

.Portfolio-player-containter {
  width:60%;
  float: right;
  margin-top: 225px;
}

.Portfolio-wrapper {
  
  width: 100%;
  height: 100%;
}
.iframe-wrapper {
  height: 500px;
}

@media only screen 
and (max-width: 768px)
{ 
  .Portfolio-text {
    margin:0;
    width:100%;
    float:right;
  }
  

  .Portfolio-player-containter {
    width:100%;
    float: right;
  }

  .Portfolio-text-container {
    margin:0;
    width:100%;
    float:left;
  }
  .Portfolio-text {
    width:100%;
  }
}
