@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

.RenderHelper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;  
  grid-template-areas: "gallery" "gallery"
                       "text" "text";
}

.RenderHelper-container {
  grid-area: gallery;
  padding-top: 88px;
}

.RenderHelper-container img, .RenderHelper-container {
  max-width: 100%;
}

@media screen and (min-width: 1000px) {
  .RenderHelper-container {
    display: grid;
    align-items: center;
    padding-top: 0;
  }

  .RenderHelper {
    height: 100vh;
    grid-template-columns: 70% 30%;
    grid-template-rows: unset;
    grid-template-areas:  "gallery text"
                          "gallery text";
  }

  .RenderHelper-container img, .RenderHelper-container {
    max-height: calc(100vh - 100px);
    max-width: calc(70vw - 50px);
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .float-right {
    margin-right: 0 !important;
  }
}

