@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

.RenderHelper {
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;  
  grid-template-areas: "gallery" "gallery"
                       "text" "text";
}

.RenderHelper-container {
  grid-area: gallery;
}

.RenderHelper-container img{
  max-width: 100%;
}



.RenderHelper-shortcut {
  display: none;
}

.RenderHelper-aside {
  grid-area: text;
  background-color: white;
}

.RenderHelper-aside {
  padding: 25px;
}

.RenderHelper-aside h1{
  margin: 0px;
}


@media screen and (min-width: 600px) {
  .RenderHelper-shortcut {
    display: inline;
  }

}

@media screen and (min-width: 1000px) {
  .RenderHelper {
    height: calc(100vh - 200px);
    grid-template-columns: 40% 60%;
    grid-template-rows: unset;
    grid-template-areas:  "gallery text"
                          "gallery text";
  }

  .

  .RenderHelper-container img{
    padding: 100px;
    max-height: 100%;
    
  }
}

