.Video-container {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.Video-text-container {
  margin:0;
  width:30%;
  float:left;
  margin-top: 125px;
}

.Video-text {
  width:250px;
}

.Video-player-container {
  width:60%;
  float: right;
  margin-top: 225px;
}

.Video-wrapper {
  width: 100%;
  position: relative;
}
.Video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen 
and (max-width: 768px)
{ 
  .Video-text {
    margin:0;
    width:100%;
    float:right;
  }
  

  .Video-player-containter {
    width:100%;
    float: right;
  }

  .Video-text-container {
    margin:0;
    width:100%;
    float:left;
  }
  .Video-text {
    width:100%;
  }
}
